body {
            background-color: #fafafa;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        .login-conatiner {
            background-color: #fff;
            max-width: 350px;
            margin: 50px auto;
            padding: 30px;
            border-radius: 10px ;
            
        }
        .login-conatiner form {
            display: flex;
            flex-direction: column;
        }

        .login-conatiner form .form-control{
            margin-bottom: 15px;
        }

        .signup-link{
            margin-top: 20px;
            text-align: center;
        }

        img {
            width: 175px;
            display: block;
            margin: 20px auto;
        }

        .btn{
            background-color: cadetblue;
            border: none;
        }
        .btn:hover {
            background-color: rgb(48, 66, 69);
        }

        a {
            text-decoration: none; /* Remove underline */
            color: #007bff; /* Optionally set link color */
        }

        a:hover {
            text-decoration: underline; /* Underline on hover */
        }